
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
        position: fixed;
        left: 20px;
        top: 20px;
        border-style: solid;
        border-color: orange;
        border-width: 5px;
        padding: 5px;
        margin: 5px;
        width: 25%;
}
#two {
        position: fixed;
        right: 20px;
        top: 20px;
        border-style: solid;
        border-color: green;
        border-width: 5px;
        padding: 5px;
        margin: 5px;
        width: 25%;
}
#three {
        position: fixed;
        left: 20px;
        bottom: 20px;
        border-style: solid;
        border-color: gold;
        border-width: 5px;
        padding: 5px;
        margin: 5px;
        width: 25%;
}
#four {
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-style: solid;
        border-color: blue;
        border-width: 5px;
        padding: 5px;
        margin: 5px;
        width: 25%;
}
a {
    position: fixed;
    top: 15%;
    left: 50%;
    transform:translate(-50%, 0);
    font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 1.64rem;
    color: #EEEEEE;
    background-color: #0a4b33;
    text-decoration: none;
    padding: 15px;
}